@use "_variables.scss" as *;

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// \\\   Contact 2nd Page STUFF       \\\
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.titleContact {
    background-image:url(../assets/contact-header.jpg);
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


// ~~~~~~~~~~~~~~~~~~~~~~~~
// \\\   form STUFF     \\\
// ~~~~~~~~~~~~~~~~~~~~~~~~
.contactFormSection {
    padding: 5rem 0px;
    

    .wrapper form {
        display: flex;
        box-shadow: 3px 3px 3px 3px rgba(60,60,60,0.1);
    }
}

.leftSideForm {
    background-image: url(../assets/contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    max-width: 40%;
    margin-right: 10px;
    border-radius: 0px;
    font-style: normal;
    padding: 20px;
    padding-bottom: 25rem;
}

.leftSideForm label {
    color: $White;
    font-style: normal;
}

.leftSideForm label p {
    color: $White;
    font-style: normal;
    font-size: 1.6rem;
}

.leftSideForm h4 {
    color: $White;
    font-style: normal;
    // these last three are super not dry but nothing was working
    font-size: 1.6rem;
}


.rightSideForm input {
    margin: 20px 5px;
    padding: 20px 0px 0px 0px;
}


.rightSideForm input{
    border: none;
    border-bottom: 1px solid #b4b4b4;
    font-style: italic;
}

input[type=text], input[type=email] {
    color: #b4b4b4;
    width: 20vw;
    // color in design was not matching anything in stylesheet
    // so used a random light grey color
}

label {
    color: #b4b4b4;
    font-style: italic;
}

#messageInput {
    width: 40vw;
}

input[type=submit] {
    background-color: $Green;
    border-radius: 5px;
    padding: 5px;
    font-style: normal;
    color: $White;
    float: right;
    font-size: 1.5rem;
}