@use "_variables.scss" as *;

// ~~~~~~~~~~~~~~~~~~~~~~~~
// \\\   Footer        \\\
// ~~~~~~~~~~~~~~~~~~~~~~~~

footer {
    background-image: url(../assets/footer.jpg);
    background-size: cover;
    background-repeat: none;
    padding: 4rem 0 1rem 0;

    h3 {
        font-size: 2rem;
    }

    #phoneNumber {
        font-weight: bold;
    }
}

.flexFooter {
    display: flex;
    justify-content: space-between;
}

.flexFooter div {
    width: 30rem;
}

#socialsSection {
    max-width: 25%;
    p{
        text-align: left;
        padding-right: 1rem;
    }
}

#socialsSection .logo {
    width: 7rem;
}

#socialsSection .logo img {
    width: 100%;
}

.socials img{
    border: 1px solid $Black;
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    margin: 0 0.5rem;
}

#copyright {
    border-top: solid 1px $Green;
    text-align: center;
    margin: 1.5rem 0px 0px 0px;
    padding: 1rem 0px;
    color: $Green;
}

// footer media querries
.footerLinks {
    @media (max-width:720px) {
        display: none;
    }

}



