// color styles
// Green
// #abd373
// Darker Grey
// #4c4c4c
// Black
// #000
// Light Grey
// #f6f7fb
// White
// #fff
// Faint Blue
// #88cce2
// Peach
// #F8EEE5

$Green: #abd373;
$DGrey: #4c4c4c;
$Black: #000;
$LGrey: #f6f7fb;
$White: #fff;
$Blue: #88cce2;
$Peach: #F8EEE5;


// Text Style Catalog
// Main Heading Text (NEW PLANT)
// MENU ITEMS
// Body text (Lorem ipsum.)
// Rubik, Normal (400)
// Sub-Heading Text (60% OFF)
// Rubik, Light (300)

// font-family: 'Rubik', sans-serif;

// fonts too?

// Small Phone (Portrait) - 360px
// Lg Phone (Portrait) - 420px ---use
// Table (Portrait) - 768px
// Tablet (Landscape) - 1024px
// Laptops - 1440px ---use
// Desktop - 1920px
// WideScreen - 2560px

// Laptops - 1440px ---use
// Lg Phone (Portrait) - 420px ---use